In [2]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn

In [3]:
ser1 = Series([1,2,3,4],index=['A','B','C','D'])

In [4]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [5]:
ser2 = ser1.reindex(['A','B','C','D','E','F','G'])

In [6]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    NaN
dtype: float64

In [7]:
ser2.reindex(['A','B','C','D','E','F','G','H'],fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    NaN
H    0.0
dtype: float64

In [8]:
ser3 = Series(['USA','Mexico','Canada'], index=[0,5,10])

In [9]:
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [10]:
ser3.reindex(range(15), method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [15]:
dframe = DataFrame(randn(25).reshape(5,5),index=['A','B','C','E','F'],columns=['col1','col2','col3','col4','col5'])

In [16]:
dframe

       col1      col2      col3      col4      col5
A  0.402073 -0.319329 -0.902847 -0.163455 -0.638628
B -0.306478  1.161484 -0.278291 -0.426287  0.727392
C  0.604259  0.031712  0.359847  1.039147 -0.209057
E -0.579915 -0.687597  0.065224 -0.835201  0.162503
F  0.347263 -0.426200 -0.613793  0.927981 -0.981805

In [17]:
new_index=['A','B','C','D','E','F','G']

In [18]:
new_index

['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [19]:
dframe.reindex(new_index)

       col1      col2      col3      col4      col5
A  0.402073 -0.319329 -0.902847 -0.163455 -0.638628
B -0.306478  1.161484 -0.278291 -0.426287  0.727392
C  0.604259  0.031712  0.359847  1.039147 -0.209057
D       NaN       NaN       NaN       NaN       NaN
E -0.579915 -0.687597  0.065224 -0.835201  0.162503
F  0.347263 -0.426200 -0.613793  0.927981 -0.981805
G       NaN       NaN       NaN       NaN       NaN

In [20]:
new_colums=['col1','col2','col3','col4','col5','col6']

In [25]:
dframe.reindex(columns=new_colums)

       col1      col2      col3      col4      col5  col6
A  0.402073 -0.319329 -0.902847 -0.163455 -0.638628   NaN
B -0.306478  1.161484 -0.278291 -0.426287  0.727392   NaN
C  0.604259  0.031712  0.359847  1.039147 -0.209057   NaN
E -0.579915 -0.687597  0.065224 -0.835201  0.162503   NaN
F  0.347263 -0.426200 -0.613793  0.927981 -0.981805   NaN