NameError: name 'L25_Writing_And_Reading_Data' is not defined

In [2]:
!cat lec25.csv

q,r,s,t,apple
2,3,4,5,pear
a,s,d,f,rabbit
5,2,5,7,dog

In [3]:
dframe = pd.read_csv('lec25.csv')

NameError: name 'pd' is not defined

In [4]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

In [5]:
dframe = pd.read_csv('lec25.csv')

In [6]:
dframe

   q  r  s  t   apple
0  2  3  4  5    pear
1  a  s  d  f  rabbit
2  5  2  5  7     dog

In [8]:
dframe = pd.read_csv('lec25.csv',header=None)

In [9]:
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [10]:
dframe = pd.read_table('lec25.csv', sep=',',header=None)

In [11]:
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [12]:
 dframe.to_csv('my_out.csv')

In [14]:
!cat 'my_out.csv'

,0,1,2,3,4
0,q,r,s,t,apple
1,2,3,4,5,pear
2,a,s,d,f,rabbit
3,5,2,5,7,dog